</main>
<footer class="main-footer">
    <div class="main-footer-content">
        <div class="footer-top-content">
            <div>
                <div class="container-logo-footer">
                    <img src="/img/logo3.svg" alt="logo de Skidom">
               </div>
                <p>Lorem est un réseau social pour créer, partager et découvrir<br> l'univers du Ski Hors-Piste</p>
                <div>
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-twitter"></i>
                </div>
            </div>
            <nav>
                <ul>
                     <li>À propos</li>
                     <li><a href="">À propos de nous</a></li>
                     <li><a href="">Directives de la communauté</a></li>
                     <li><a href="">Conditions générales</a></li>
                     <li><a href="">Protection de la confidentialité</a></li>
                </ul>
                <ul>
                     <li>Supports</li>
                     <li><a href="">Aide</a></li>
                     <li><a href="">FAQ</a></li>
                     <li><a href="">Accessibilité</a></li>
                     <li><a href="">Langages</a></li>
                </ul>
            </nav>

        </div>
        <hr>
        <div class="footer-bottom-content">
            <p><small>© 2022-LOGO. Tous droits réservés.</small></p>
            <p><small>4,345 parcours créés par la communauté</small></p>
        </div>
    </div>
</footer>