<body>
    <header class="main-header">
        <div class="main-header-content">
            <a class="title-logo" href="/">Logo</a>
            <nav class="nav-links">
                    <ul>
                        <li><a href="/profil">Feed</a></li>
                        <li><a href="/spots">Explore</a></li>
                        <li><a href="/spots/new">Créer</a></li>
                        <li><a href="">Guide</a></li>
                        <li><a href="">Évènements</a></li>
                        <li><a href="">Discussions</a></li>
                    </ul>
            </nav>
            <div class="nav-right">
                <i class="bi bi-bell"></i>
                <div class="nav-separator"></div>
                
                <div class="popover__wrapper">
                    <a href="#">  
                        <img class="image-profil-user" src="img/image-user@2x.png" alt="">                               
                    </a>
                <div class="popover__content">
                    <nav class="nav-links-vertical">
                        <ul>
                            <li><i class="bi bi-person"></i>
                                <a href="">Profil</a></li>
                            <div class="nav-separator-horizontal"></div>
                            <li><a id="clearData" href="/">Déconnexion</a></li>
                        </ul>
                    </nav>                    
                </div>
                </div>                
                <span id="userName"><%= name %></span>
             </div>                    
            </div>   
    </header> 