<%- include ('partials/head'); %>
    <title>Créer un parcours</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header-content">
            <a class="title-logo" href="/">Logo</a>
            <nav class="nav-links">
                <ul>
                    <li><a href="/profil">Accueil</a></li>
                    <li><a href="/spots">Explore</a></li>
                    <li><a href="/spots/new">Créer</a></li>
                    <li><a href="">Guide</a></li>
                    <li><a href="">Évènements</a></li>
                    <li><a href="">Discussions</a></li>
                </ul>
            </nav>
            <div class="nav-right">
                <i class="bi bi-bell"></i>
                <div class="nav-separator"></div>

                <div class="popover__wrapper">
                    <a href="#">
                        <img class="image-profil-user" src="img/image-user@2x.png" alt="">
                    </a>
                    <div class="popover__content">
                        <nav class="nav-links-vertical">
                            <ul>
                                <i class="bi bi-person"></i>
                                <li><a href=""> Profil</a></li>
                                <div class="nav-separator-horizontal"></div>
                                <li><a id="clearData" href="/">Déconnexion</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <span id="userName"></span>
            </div>
        </div>
    </header>
    <main>
        <form action="/spots/new" method="post">
            <div class="container-hero grid">
                <!-- Nom du parcours -->
                <div class="col-10 margin-bottom-28">
                    <h1 class="margin-bottom-48">Créer un nouveau parcours</h1>
                    <h3 class="margin-bottom-32">Nom et coordonnées géographiques</h3>
                    <p class="margin-bottom-8">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <label for="nom-parcours">Nom du parcours (obligatoire)</label>
                    <div class="input-field">
                        <input class="input-newspot" id="" type="" name="name" placeholder="Écrire le nom du parcours">
                    </div>
                </div>
                <!-- Localisation du parcours -->
                <div class="col-5">
                    <h3 class="margin-bottom-1em">Localisation du parcours</h3>
                    <p class="margin-bottom-1em">Indiquer la localisation de l'itinéraire en entrant les informations
                        ci-dessous.</p>
                    <label for="localisation">Localisation (obligatoire)</label>
                    <div class="input-field margin-bottom-32">
                        <input class="input-newspot" id="" type="" name="address" placeholder="Écrire la localisation">
                        <i class="fa-regular fa-envelope" id="">
                        </i>
                    </div>
                    <!-- Localisation section gauche: mini-grille -->
                    <div class="mini-grid margin-bottom-64">
                        <h4 class="margin-bottom-8 col-12">Montée</h4>
                        <div class="mini-col-5a">
                            <label for="latitude">Latitude (obligatoire)</label>
                            <div class="input-field margin-bottom-32">
                                <input class="input-newspot" id="" type="" name="coordinates"
                                    placeholder="Écrire la latitude">
                            </div>
                        </div>
                        <div class="mini-col-5b">
                            <label for="latitude">Longitude (obligatoire)</label>
                            <div class="input-field">
                                <input class="input-newspot" id="" type="" name="coordinates"
                                    placeholder="Écrire la longitude">
                            </div>
                        </div>
                        <h4 class="margin-bottom-8 col-12">Descente</h4>
                        <div class="mini-col-5a">
                            <label for="latitude">Latitude</label>
                            <div class="input-field">
                                <input class="input-newspot" id="" type="" name="" placeholder="Écrire la localisation">
                            </div>
                        </div>
                        <div class="mini-col-5b">
                            <label for="latitude">Longitude</label>
                            <div class="input-field">
                                <input class="input-newspot" id="" type="" name="" placeholder="Écrire la longitude">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Localisation section droite: itinéraire -->
                <div class="col-5b">
                    <!-- <div class="itineraire"></div> -->
                    <img src="/img/form-map@2.jpg">
                    <p>Dessinez votre itinéraire sur la carte</p>
                </div>
                <!-- infos générales -->
                <div class="col-10 margin-bottom-32">
                    <h3>Informations générales</h3>
                </div>
                <div class="col-5">
                    <div class="input-control">
                        <label for="difficulte">Difficulté technique (obligatoire)</label>
                        <div class="input-field">
                            <input class="input-newspot" id="" type="" name="difficulty"
                                placeholder="Entrez le niveau de difficulté">
                        </div>
                    </div>
                    <div class="input-control">
                        <label for="duree">Estimation de la durée</label>
                        <div class="input-field">
                            <input class="input-newspot" id="" type="" name="" placeholder="ex: 1h45">
                        </div>
                    </div>
                    <div class="input-control">
                        <label for="distance">Distance</label>
                        <div class="input-field">
                            <input class="input-newspot" id="" type="" name="" placeholder="Entrez la distance en km">
                        </div>
                    </div>
                </div>
                <div class="col-5b">
                    <div class="input-control">
                        <label for="denivele">Dénivelé</label>
                        <div class="input-field">
                            <input class="input-newspot" id="" type="" name="" placeholder="ex: 1000m">
                        </div>
                    </div>
                    <div class="input-control">
                        <label for="duree">Altitude maximale</label>
                        <div class="input-field">
                            <input class="input-newspot" id="" type="" name="" placeholder="ex: 1000m">
                        </div>
                    </div>
                    <div class="input-control">
                        <label for="distance">Altitude minimale</label>
                        <div class="input-field">
                            <input class="input-newspot" id="" type="" name="" placeholder="ex: 1000m">
                        </div>
                    </div>
                </div>
                <div class="col-10 margin-bottom-64">
                    <div class="input-control">
                        <label for="description">Description et accès de parcours (obligatoire)</label>
                        <div class="input-field">
                            <textarea class="input-newspot" id="" type="" name="description"
                                placeholder="Écrire la description du parcours et son accès"></textarea>
                        </div>
                    </div>
                </div>
                <!-- Caractéristiques du parcours -->
                <div class="col-10">
                    <h3 class="margin-bottom-32">Caractéristiques du parcours</h3>
                </div>
                <div class="col-10">
                    <h4>Spécificités</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates officia, fuga iure
                        distinctio quod quaerat corrupti quis.</p>
                    <div class="btn-container">
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Fermée</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Végétation dense</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Vue panoramique</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Yéti</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Cascade</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Nature</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Rocheux</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Propriété privée</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Sécurisé</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Lac</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Boueux</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Grottes</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Marmottes</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Montée</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Dénivelé</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Stalactique</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Arbres tombés</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Chalet</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Vent</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Pont inutilisable</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Rivière</label>
                        <input type="checkbox" id="btnControl">
                        <label for="btnControl" class="tag">Risque d'avalanche</label>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit ?</p>
                </div>
                <div class="col-7">
                    <div class="input-control">
                        <div class="input-field">
                            <input class="input-newspot" id="" type="" name=""
                                placeholder="ex: neige abondante, ours, etc">
                        </div>
                    </div>
                </div>
                <div class="col-3b">
                    <button id="" type="" class="btn-tertiary">Ajouter un nouveau tag</button>
                </div>
                <!-- Conditions obligatoires -->
                <div class="col-10">
                    <h4>Conditions obligatoires : matériel, équipement et sécurité</h4>
                    <div class="input-control">
                        <label for="description">Description</label>
                        <div class="input-field">
                            <textarea class="input-newspot" id="" type="" name=""
                                placeholder="Écrire les conditions nécessaires à l'expédition"></textarea>
                        </div>
                    </div>
                    <!-- Ajout photo et tracking -->
                    <h3>Ajouter des photos ou des vidéos</h3>
                    <div class="img-upload"></div>
                    <h3>Charger des données de tracking</h3>
                    <div class="tracking-upload"></div>
                    <div class="btn-container">
                        <button id="" type="reset" class="btn-secondary">Annuler</button>
                        <button id="" type="submit" class="btn-tertiary">Créer le parcours</button>
                    </div>
                </div>
            </div>
        </form>
    </main>
<%- include ('partials/footer'); %>
</body>
</html>