<form action="/spots/new" method="post" class="form">
    
    <div class="input-control">
        <label for="name">Nom</label>
        <div class="input-field" id=""">
            <input id="" type="text" name="name" placeholder="Entrez votre prénom et nom">
            <i class="fa-regular fa-user" id="userNameIcon">
            </i>
        </div>
    </div>
<br>
    <div class="input-control">
        <label for="description">Description</label>
        <div class="input-field" id="">
            <input id="" type="text" name="description" placeholder="Entrez votre prénom et nom">
            <i class="fa-regular fa-user" id="">
            </i>
        </div>
    </div>
<br>
    <div class="input-control">
        <label for="address">Adresse</label>
        <div class="input-field" id="">
            <input id="" type="text" name="address" placeholder="Entrez votre prénom et nom">
            <i class="fa-regular fa-user" id="">
            </i>
        </div>
        
    </div>
<br>
    <div class="input-control">
        <label for="difficulty">Difficulte</label>
        <div class="input-field" id="">
            <input id="" type="text" name="difficulty" placeholder="Entrez votre prénom et nom">
            <i class="fa-regular fa-user" id="">
            </i>
        </div>
        
    </div>
<br>
    <div class="input-control">
        <label for="coordinates">Coordinate</label>
        <div class="input-field" id="">
            <input id="" type="text" name="coordinates" placeholder="Entrez votre prénom et nom">
            <i class="fa-regular fa-user" id="">
            </i>
        </div>

    </div>
    
    
    
    <button id="validateNewUser" type="submit" class="btn-primary">Créer un compte</button>
</form>