<%- include ('partials/head'); %>
<title>Profil - My Friends</title>
</head>

<%- include ('partials/header'); %>
<main class="margin-bottom-120">
    <!-- map -->      
    <div class="hero-profil"></div> 
    <!--mettre ce container chez blandine-->
    <div class="grid container-search"> 
    
        <div class="col-5c">
            <div class="container-hero-profil">
                <img src="../img/img-profil-hero2.jpg" alt="...">
                <div class="container-hero-profil-content">
                    <div>
                        <h1>Robert Fox</h1>
                        <h3>Québec City, Québec</h3>
                    </div>
                    <div>
                        <p class="medium">44 posts</p>
                        <p class="medium">33 Followers</p>
                        <p class="medium">18 ami.e.s</p>
                    </div>
                    <button class="btn-primary">Editer</button>
                </div>
            </div>
        </div>
    
         <!-- Résumé du profil -->
        <div class="container-features col-10">
            <div class="profil-features">
                <i class="bi bi-people"></i>
                <p>Followers<br><span>14</span></p>
            </div><div class="features-separator"></div>
            <div class="profil-features">
                <i class="bi bi-speedometer"></i>
                <p>Parcourus<br><span>20 Km</span></p>
            </div><div class="features-separator"></div>
            <div class="profil-features">
                <i class="bi bi-calendar4-event"></i>
                <p>Sorties<br><span>17</span></p>
            </div><div class="features-separator"></div>
            <div class="profil-features">
                <i class="bi bi-send"></i>
                <p>Posts<br><span>44</span></p>
            </div><div class="features-separator"></div>
            <div class="profil-features">
                <i class="bi bi-award"></i>
                <p>Badges<br><span>7</span></p>
            </div>
        </div>
    </div>

    <div class="container-main grid">
        <!--Encars Parcours-->
        <nav class="col-10 margin-bottom-60 allParcours">
            <a class="link-click-off">Post</a>
            <div class="nav-separator"></div>
            <a class="link-click-off">Parcours créés</a> 
            <div class="nav-separator"></div>      
            <a class="link-click-off">Parcours terminés</a>   
            <div class="nav-separator"></div>   
            <a class="link-click-off">Badge</a>   
            <div class="nav-separator"></div>
            <a class="link-click-off">Favoris</a>  
            <div class="nav-separator"></div>
            <a class="link-click-on">Ami.e.s</a>               
        </nav>


        <div class="col-10">
            <div class="container-spot">
                <section class="container-ami">
                    <div class="alert-news">
                    <img class="image-profil-friend" src="../img/img-profil-follower2.png" alt="">
                    <div>
                        <p><span class="tag-name">Amandine Flores</span><br>
                            Québec City, Québec
                        </p>
                    </div>
                    <button class="btn-secondary-light">Ami.e</button>
            
                </section>
                <section class="container-ami">
                    <div class="alert-news">
                    <img class="image-profil-friend" src="../img/img-profil-follower3.png" alt="">
                    <div>
                        <p><span class="tag-name">Annette Black</span><br>
                            Trois-rivières, Québec
                        </p>
                    </div>
                    <button class="btn-secondary-light">Ami.e</button>
            
                </section>
                
            </div>
            
        </div>
    </div>    
  
<%- include ('partials/footer'); %>
</body>
</html>