<%- include ('partials/head'); %>
<title>Parcours</title>
</head>

<%- include ('partials/header'); %>
<!-- map -->      
<div class="hero parcours"></div>
<!-- Welcome & Search bar -->
<div class="grid container-hero">
    <div class="col-6 margin-bottom-extra-extra-large">
        <h1>Parcours 22</h1>
        <h1 class="primary">Mont-Nicol Albert</h1>
        <h3 class="margin-bottom-32">Crée par <span class="primary">Simon Hebert</span></h3>
        <span class="oval-box-level level-easy">Facile</span>
    </div>
    <div class="container-icon-header-parcours col-4">
        <div class="icon-header-parcours">
            <i class="bi bi-check"></i>
        </div>
        <div class="icon-header-parcours">
            <i class="bi bi-bookmark"></i>
        </div>
        <div class="icon-header-parcours">
            <i class="bi bi-download"></i>
        </div>
        <div class="icon-header-parcours">
            <i class="bi bi-share"></i>
        </div>
        <div class="icon-header-parcours">
            <i class="bi bi-arrows-fullscreen"></i>
        </div>
    </div>
      <!-- Résumé du profil -->
      <div class="container-features col-10">
        <div class="profil-features">
            <i class="bi bi-clock"></i>
            <p>Durée<br><span>1h32</span></p>
        </div><div class="features-separator"></div>
        <div class="profil-features">
            <i class="bi bi-flag"></i>
            <p>Distance<br><span>33km</span></p>
        </div><div class="features-separator"></div>
        <div class="profil-features">
            <i class="bi bi-calendar4-event"></i>
            <p>Altitude<br><span>1000m</span></p>
        </div><div class="features-separator"></div>
        <div class="profil-features">
            <i class="bi bi-trophy"></i>
            <p>Terminé<br><span>14</span></p>
        </div><div class="features-separator"></div>
        <div class="profil-features">
            <i class="bi bi-image"></i>
            <p>Photos<br><span>48</span></p>
        </div>
    </div>
</div>
<main>
    <div class="container-main grid">
         <!-- Colonne Parcours -->
        <section class="col-10">           
            <!-- Description et accès -->
            <article class="margin-bottom-64">
                <header class="">
                    <div>
                        <h4>Description et accès</h4>
                    </div>
                </header>
                <div class="title-article margin-top-small"> 
                    <div>
                        <p>Le parcours</p>
                    </div> 
                </div>                   
                <div class="margin-top-small"> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis rhoncus suscipit diam morbi neque auctor gravida at. Mi dolor bibendum sed mi nulla pharetra blandit lectus. Pretium interdum lobortis metus vulputate maecenas. Et pretium pulvinar nisl imperdiet. Ut neque, sit morbi aliquam nunc vestibulum, convallis. Duis faucibus adipiscing eget sed adipiscing risus, proin. Ac iaculis nunc enim auctor vitae auctor hendrerit felis, mi. Consectetur facilisis ipsum, adipiscing urna, interdum. A sit amet tellus mi risus ut dignissim.</p> 
                    <br>
                    <p>Nisl lectus tristique arcu pellentesque ultrices. Fermentum fames integer non urna, scelerisque. Purus turpis eget in massa quam duis. Commodo amet a pellentesque cras ridiculus faucibus congue suspendisse. Felis non tellus elit cursus erat dictumst turpis lacus. Lorem urna, adipiscing convallis mi, cursus faucibus ipsum magna. Massa eu nunc turpis cras. Blandit sagittis tellus in amet nunc, amet, posuere id. </p>
                </div>
                
                <div class="margin-top-small">
                    <div> 
                        <span class="oval-box-tags tags-color">Snowboard</span>
                        <span class="oval-box-tags tags-color">Neige</span>
                        <span class="oval-box-tags tags-color">Ski</span>
                        <span class="oval-box-tags tags-color">Accessibilité</span>
                        <span class="oval-box-tags tags-color">Montée</span>
                        <span class="oval-box-tags tags-color">Belle vue</span>
                        <span class="oval-box-tags tags-color">Nature sauvage</span>
                        <span class="oval-box-tags tags-color">Sécurisé</span>
                        <span class="oval-box-tags tags-color">Endurant</span>
                        <span class="oval-box-tags tags-color">Québec</span>
                        <span class="oval-box-tags tags-color">Canada</span>
                        </div> 
                </div>
                <!-- Localisation du parcours -->
                
                <div class="title-article margin-top-small"> 
                    <div>
                        <p>Localisation du parcours</p>
                    </div> 
                </div>    
                <div class="margin-top-small">
                    <p>Nisl lectus tristique arcu pellentesque ultrices. Fermentum fames integer non urna, scelerisque. Purus turpis eget in massa quam duis. Commodo amet a pellentesque cras ridiculus faucibus congue suspendisse. Felis non tellus elit cursus erat dictumst turpis lacus. </p>
                    <br>
                    <p>Début du parcours :  48.80058223201716, -66.76889587503786</p>
                    <p>Fin du parcours :   48.80058223201716, -66.76889587503786</p>
                </div>
            </article>
        </section>
            <!-- Condition métérologiques -->
        <section class="col-10"> 
            <article class="margin-bottom-64">
                <header>
                    <div>
                        <h4>Conditions métérologiques</h4>
                    </div>
                </header>
                <div class="container-meteo margin-top-small">
                    <div class="profil-features">
                        <i class="bi bi-brightness-high"></i>
                        <p><span>-30ºC</span><br>Dimache</p>
                    </div><div class="separator-meteo"></div>
                    <div class="profil-features">
                        <i class="bi bi-brightness-high"></i>
                        <p><span>-30ºC</span><br>Lundi</p>
                    </div><div class="separator-meteo"></div>
                    <div class="profil-features">
                        <i class="bi bi-cloud-sun-fill"></i>
                        <p><span>-32ºC</span><br>Mardi</p>
                    </div><div class="separator-meteo"></div>
                    <div class="profil-features">
                        <i class="bi bi-cloud-sleet"></i>
                        <p><span>-32ºC</span><br>Mercredi</p>
                    </div><div class="separator-meteo"></div>
                    <div class="profil-features">
                        <i class="bi bi-cloud-sleet"></i>
                        <p><span>-34ºC</span><br>Jeudi<br></p>
                    </div><div class="separator-meteo"></div>
                    <div class="profil-features">
                        <i class="bi bi-brightness-high"></i>
                        <p><span>-34ºC</span><br>Vendredi<br></p>
                    </div><div class="separator-meteo"></div>
                    <div class="profil-features">
                        <i class="bi bi-brightness-high"></i>
                        <p><span>-32ºC</span><br>Samedi<br></p>
                    </div>
                </div>
                <div class="article-separator-meteo"></div>
                <div class="container-meteo-small">
                    <div class="container-meteo-row">
                        <i class="bi bi-sunrise"></i>
                        <p>Lever<br><span>5h30</span></p>
                    </div>
                    <div class="container-meteo-row">
                        <i class="bi bi-sunset"></i>
                        <p>Coucher<br><span>17h02</span></p>
                    </div>
                    <div class="container-meteo-row">
                        <p>Ac iaculis nunc enim auctor vitae auctor hendrerit felis, mi. Consectetur facilisis ipsum, adipiscing urna, interdum. A sit amet tellugnissim. </p>
                    </div>
                </div>  
            </article>
        </section>
            <!-- Conditions obligatoires -->
        <section class="col-10"> 
            <article class="margin-bottom-64">
                <header>
                    <div>
                        <h4>Conditions obligatoires : matériel, équipement et sécurité</h4>
                    </div>
                </header>
                <div class="margin-top-small">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas eget ornare massa mi, cum egestas. Platea semper tellus condimentum hac. Eget id mauris urna lectus purus, ultricies blandit ullamcorper nunc.</p>
                    <br>
                    <ul class="list-normal">
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                        <li>Fermentum fames integer non urna, scelerisque. Purus turpis eget in massa quam duis. Commodo amet a pellentesque cras ridiculus faucibus congue suspendisse.</li>
                        <li>Lorem urna, adipiscing convallis mi, cursus faucibus ipsum magna.</li>
                        <li>Nisl lectus tristique arcu pellentesque ultrices. </li>
                    </ul>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas eget ornare massa mi, cum egestas. Platea semper tellus condimentum hac. Eget id mauris urna lectus purus, ultricies blandit ullamcorper nunc.</p>
                </div>                
            </article>
        </section>
        <!-- Galerie -->
        <section class="col-10"> 
            <article class="margin-bottom-64">
                <header class="margin-bottom-24">
                    <div>
                        <h4>Galerie photos (48 photos)</h4>
                    </div>
                </header>
                    <div class="container-image-parcours">
                        <div><img src="img/carrousel-photo-image1.jpg" alt=""></div>
                        <div><img src="img/carrousel-photo-image2.jpg" alt=""></div>
                        <div><img src="img/carrousel-photo-image3.jpg" alt=""></div>
                        <i class="bi bi-chevron-right"></i>
                    </div> 
            </article>
        </section>
        <!-- Commentaires -->
        <section class="col-10">
            <article class="margin-bottom-28">
                <header>
                    <div>
                        <h4>Commentaires (8 avis)</h4>
                    </div>
                </header>
            </article> 
            <article class="container-post margin-bottom-32 ">
                <header class="title-article margin-bottom-24">
                    <img class="image-profil-friend" src="img/image-friend2@2x.png" alt="">
                    <div class="title-article-header" >
                        <p class="body1">Guy Hawkins<br>
                            <span>Québec City, Québec</span>
                        </p>
                        <i class="bi bi-three-dots"></i>
                    </div>
                </header>
                <p class="margin-bottom-24">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et risus arcu proin in vitae praesent at nulla aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et risus arcu proin in et vitae praesent nulla aliquam !</p>
            </article>
            <article class="container-post margin-bottom-32 ">
                <header class="title-article margin-bottom-24">
                    <img class="image-profil-friend" src="img/image-friend14@2.png" alt="">
                    <div class="title-article-header" >
                        <p class="body1">Esther Howard<br>
                            <span>Montréal, Québec</span>
                        </p>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                    </div>
                </header>
                <p class="margin-bottom-24">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et risus arcu proin in vitae praesent at nulla aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et risus arcu proin in et vitae praesent nulla aliquam !</p>
            </article>
        </section>
        <!-- Activités -->
        <section class="col-10"> 
            <article class="margin-bottom-64">
                <header class="margin-bottom-24">
                    <div>
                        <h4>Activités (7 données)</h4>
                    </div>
                </header>
                <div class="container-activity">
                    <div class="margin-right-20">
                        <img src="img/carrousel-activity-image1.jpg" alt="">
                        <div class="info-activity">
                            <img id="image-profil-friend" src=" img/image-friend14@2.png" alt="">
                            <div class="info-activity">
                                <i class="bi bi-clock"></i>
                                <p>1h10</p>
                            </div>
                            <div class="info-activity">
                                <i class="bi bi-flag"></i>
                                <p>30 km</p>
                            </div>
                        </div>
                    </div>
                    <div class="margin-right-20">
                        <img src="img/carrousel-activity-image2.jpg" alt="">
                        <div class="info-activity">
                            <img id="image-profil-friend" src=" img/image-friend14@2.png" alt="">
                            <div class="info-activity">
                                <i class="bi bi-clock"></i>
                                <p>1h10</p>
                            </div>
                            <div class="info-activity">
                                <i class="bi bi-flag"></i>
                                <p>30 km</p>
                            </div>
                        </div>
                    </div>
                    <div class="margin-right-20">
                        <img src="img/carrousel-activity-image3.png" alt="">
                        <div class="info-activity">
                            <img id="image-profil-friend" src=" img/image-friend14@2.png" alt="">
                            <div class="info-activity">
                                <i class="bi bi-clock"></i>
                                <p>1h10</p>
                            </div>
                            <div class="info-activity">
                                <i class="bi bi-flag"></i>
                                <p>30 km</p>
                            </div>
                        </div>
                    </div> 
                    <i class="bi bi-chevron-right"></i>                                                                  
                </div>
                </article>                
                    
                    
            </article>
        </section>
        <!-- Parcours -->
        <section class="col-10"> 
            <article class="margin-bottom-64">
                <header class="margin-top-small">
                    <div>
                        <h4>Parcours terminé (14 personnes)</h4>
                    </div>
                </header>
            </article>
        </section>
        
         
    </div>
</main>
<%- include ('partials/footer'); %>
<script src="js/explore.js"></script>
</body>
</html>

           






