<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/script.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Profil</title>
</head>
<header class="main-header">
    <div class="main-header-content">
        <a class="title-logo" id="clearData" href="/">Logo</a>
        <nav class="nav-links">
                <ul>
                    <li><a href="/profil">Accueil</a></li>
                    <li><a href="/spots">Explore</a></li>
                    <li><a href="/spots/new">Créer</a></li>
                    <li><a href="">Guide</a></li>
                    <li><a href="">Évènements</a></li>
                    <li><a href="">Discussions</a></li>
                </ul>
        </nav>
        <div class="nav-right">
            <i class="bi bi-bell"></i>
            <div class="nav-separator"></div>
            
            <div class="popover__wrapper">
                <a href="#">  
                    <img class="image-profil-user" src="img/image-user@2x.png" alt="">                               
                </a> 
            <div class="popover__content">
                <nav class="nav-links-vertical">
                    <ul>
                        <i class="bi bi-person"></i><li><a href=""> Profil</a></li>
                        <div class="nav-separator-horizontal"></div>
                        <li><a id="clearData" href="/">Déconnexion</a></li>
                    </ul>
                </nav>                    
            </div>
            </div>                
         </div>                    
        </div>   
</header> 
<!-- map -->      
<div class="hero parcours"></div>
<!-- Welcome & Search bar -->
<div class="grid container-hero">
    <div class="col-6 margin-bottom-large">
        <h1>Parcours 22</h1>
        <h1 class="primary">Mont-Nicol Albert</h1>
        <h3 class="margin-bottom-medium ">Crée par <span class="primary">Simon Hebert</span></h3>
        <span class="badge success">Facile</span>
    </div>
      <!-- Résumé du profil -->
      <div class="container-features col-10">
        <div class="profil-features">
            <i class="bi bi-people"></i>
            <p><span>14</span><br>Followers</p>
        </div><div class="features-separator"></div>
        <div class="profil-features">
            <i class="bi bi-speedometer"></i>
            <p><span>20km</span><br>Parcourus</p>
        </div><div class="features-separator"></div>
        <div class="profil-features">
            <i class="bi bi-calendar"></i>
            <p><span>17</span><br>Sorties</p>
        </div><div class="features-separator"></div>
        <div class="profil-features">
            <i class="bi bi-send"></i>
            <p><span>44</span><br>Posts</p>
        </div><div class="features-separator"></div>
        <div class="profil-features">
            <i class="bi bi-award"></i>
            <p><span>7</span><br>Badges<br></p>
        </div>
    </div>
</div>
<main>
    <div class="container-main grid">
         <!-- Colonne Parcours -->
        <section class="col-10">           
            <!-- Description et accès -->
            <article class="margin-bottom-medium">
                <header class="margin-bottom-small">
                    <div>
                        <h4>Description et accès</h4>
                    </div>
                </header>
                <div class="title-article margin-bottom-xsmall"> 
                    <div>
                        <p>Le parcours</p>
                    </div> 
                </div>                   
                <div class="margin-bottom-small"> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis rhoncus suscipit diam morbi neque auctor gravida at. Mi dolor bibendum sed mi nulla pharetra blandit lectus. Pretium interdum lobortis metus vulputate maecenas. Et pretium pulvinar nisl imperdiet. Ut neque, sit morbi aliquam nunc vestibulum, convallis. Duis faucibus adipiscing eget sed adipiscing risus, proin. Ac iaculis nunc enim auctor vitae auctor hendrerit felis, mi. Consectetur facilisis ipsum, adipiscing urna, interdum. A sit amet tellus mi risus ut dignissim.</p> 
                    <br>
                    <p>Nisl lectus tristique arcu pellentesque ultrices. Fermentum fames integer non urna, scelerisque. Purus turpis eget in massa quam duis. Commodo amet a pellentesque cras ridiculus faucibus congue suspendisse. Felis non tellus elit cursus erat dictumst turpis lacus. Lorem urna, adipiscing convallis mi, cursus faucibus ipsum magna. Massa eu nunc turpis cras. Blandit sagittis tellus in amet nunc, amet, posuere id. </p>
                </div>
                
                <div class="container-social margin-bottom-small">
                    <div>              
                        <p>Snowboard</p>
                        <p>Neige</p>
                        <p>Ski</p>
                        <p>Accessibilité</p>
                        <p>Montée</p>
                        <p>Belle vue</p>
                        <p>Nature sauvage</p>
                        <p>Sécurisé</p>
                        <p>Endurant</p>
                        <p>Québec</p>
                        <p>Canada</p>
                    </div> 
                </div>
                <!-- Localisation du parcours -->
                
                <div class="title-article margin-bottom-xsmall"> 
                    <div>
                        <p>Localisation du parcours</p>
                    </div> 
                </div>    
                <div class="margin-bottom-small">
                    <p>Nisl lectus tristique arcu pellentesque ultrices. Fermentum fames integer non urna, scelerisque. Purus turpis eget in massa quam duis. Commodo amet a pellentesque cras ridiculus faucibus congue suspendisse. Felis non tellus elit cursus erat dictumst turpis lacus. </p>
                    <br>
                    <p>Début du parcours :  48.80058223201716, -66.76889587503786</p>
                    <p>Fin du parcours :   48.80058223201716, -66.76889587503786</p>
                </div>
            </article>
        </section>
            <!-- Condition métérologiques -->
        <section class="col-10"> 
            <article class="margin-bottom-medium ">
                <header class="margin-bottom-small">
                    <div>
                        <h4>Conditions métérologiques</h4>
                    </div>
                </header>
                <div class="container-meteo">
                    <div class="profil-features">
                        <i class="bi bi-brightness-high"></i>
                        <p><span>-30ºC</span><br>Dimache</p>
                    </div><div class="separator-meteo"></div>
                    <div class="profil-features">
                        <i class="bi bi-brightness-high"></i>
                        <p><span>-30ºC</span><br>Lundi</p>
                    </div><div class="separator-meteo"></div>
                    <div class="profil-features">
                        <i class="bi bi-cloud-sun-fill"></i>
                        <p><span>-32ºC</span><br>Mardi</p>
                    </div><div class="separator-meteo"></div>
                    <div class="profil-features">
                        <i class="bi bi-cloud-sleet"></i>
                        <p><span>-32ºC</span><br>Mercredi</p>
                    </div><div class="separator-meteo"></div>
                    <div class="profil-features">
                        <i class="bi bi-cloud-sleet"></i>
                        <p><span>-34ºC</span><br>Jeudi<br></p>
                    </div><div class="separator-meteo"></div>
                    <div class="profil-features">
                        <i class="bi bi-brightness-high"></i>
                        <p><span>-34ºC</span><br>Vendredi<br></p>
                    </div><div class="separator-meteo"></div>
                    <div class="profil-features">
                        <i class="bi bi-brightness-high"></i>
                        <p><span>-32ºC</span><br>Samedi<br></p>
                    </div>
                </div>
                <div class="article-separator-meteo"></div>
                <div class="container-meteo-small">
                    <div class="container-meteo-row">
                        <i class="bi bi-sunrise"></i>
                        <p>Lever<br><span>5h30</span></p>
                    </div>
                    <div class="container-meteo-row">
                        <i class="bi bi-sunset"></i>
                        <p>Coucher<br><span>17h02</span></p>
                    </div>
                    <div class="container-meteo-row">
                        <p>Ac iaculis nunc enim auctor vitae auctor hendrerit felis, mi. Consectetur facilisis ipsum, adipiscing urna, interdum. A sit amet tellugnissim. </p>
                    </div>
                </div>  
            </article>
        </section>
            <!-- Conditions obligatoires -->
        <section class="col-10"> 
            <article class="margin-bottom-medium ">
                <header class="margin-bottom-small">
                    <div>
                        <h4>Conditions obligatoires : matériel, équipement et sécurité</h4>
                    </div>
                </header>
                <div class="margin-bottom-xsmall">                 
                    <div class="margin-bottom-small"> 
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas eget ornare massa mi, cum egestas. Platea semper tellus condimentum hac. Eget id mauris urna lectus purus, ultricies blandit ullamcorper nunc. Egestas aliquet justo tellus hendrerit elementum enim lectus magna. Odio a laoreet sagittis eget convallis etiam eleifend. Eget leo est eu arcu pretium aenean semper vestibulum.</p>
                    </div>
                </div>
                <div class="margin-bottom-small">
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                        <li>Fermentum fames integer non urna, scelerisque. Purus turpis eget in massa quam duis. Commodo amet a pellentesque cras ridiculus faucibus congue suspendisse.</li>
                        <li>Lorem urna, adipiscing convallis mi, cursus faucibus ipsum magna.</li>
                        <li>Nisl lectus tristique arcu pellentesque ultrices. </li>
                    </ul>
                </div>
                <div class="margin-bottom-small"> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas eget ornare massa mi, cum egestas. Platea semper tellus condimentum hac. Eget id mauris urna lectus purus, ultricies blandit ullamcorper nunc.</p>
                </div>                
            </article>
        </section>
        <!-- Galerie -->
        <section class="col-10"> 
            <article class="margin-bottom-medium ">
                <header class="margin-bottom-small">
                    <div>
                        <h4>Galerie photos (48 photos)</h4>
                    </div>
                </header>
            </article>
        </section>
        <!-- Commentaires -->
        <section class="col-10">
            <article class="margin-bottom-medium ">
                <header class="margin-bottom-small">
                    <div>
                        <h4>Commentaires (8 avis)</h4>
                    </div>
                </header>
            </article> 
            <article class="container-post margin-bottom-medium">
                <header class="title-article margin-bottom-small">
                    <img class="image-profil-friend" src="img/image-friend1@2x.png" alt="">
                    <div>
                        <p class="body1">Guy Hawkins</p>
                        <p>Québec City, Québec</p>
                    </div>
                </header>
                <div class="margin-bottom-small">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et risus arcu proin in vitae praesent at nulla aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et risus arcu proin in et vitae praesent nulla aliquam !</p>
                </div>
            </article>
            <article class="container-post margin-bottom-medium">
                <header class="title-article margin-bottom-small">
                    <img class="image-profil-friend" src="img/image-friend1@2x.png" alt="">
                    <div>
                        <p class="body1">Esther Howard</p>
                        <p>Montréal, Québec</p>
                    </div>
                </header>
                <div class="margin-bottom-small">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et risus arcu proin in vitae praesent at nulla aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et risus arcu proin in et vitae praesent nulla aliquam !</p>
                </div>
            </article>
        </section>
        <!-- Activités -->
        <section class="col-10"> 
            <article class="margin-bottom-medium ">
                <header class="margin-bottom-small">
                    <div>
                        <h4>Activités (7 données)</h4>
                    </div>
                </header>
            </article>
        </section>
        <!-- Parcours -->
        <section class="col-10"> 
            <article class="margin-bottom-medium ">
                <header class="margin-bottom-small">
                    <div>
                        <h4>Parcours terminé (14 personnes)</h4>
                    </div>
                </header>
            </article>
        </section>
        
         
    </div>
</main>
<footer></footer>
</body>
</html>

           






