/* ============= Base  ==============*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-weight: initial;
    text-decoration: none;
    display: inline-block;
    color: #000;

}

html {
    background-color: #F4F6F8;
    color: #000;
    height: 100%;
}

/* ================ Police ================== */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875em;
    font-weight: 600;
    height: 100%;
}

h1, .h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 600;
}

h2 {
    margin: 0;
    font-size: 2.125em;
    font-weight: 600;
}


h3 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 600;
}

h4 {
    margin: 0;
    font-size: 1.125em;
    font-weight: 600;
}

p {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
}

.body1 {
    margin: 0;
    font-size: 1.125em;
    letter-spacing: -1.5%;
}

.medium,
label {
    font-weight: 400;
}

.bold {
    font-weight: 600;
}

/* color */
.primary {
    color: #0060AD;
}


/* =========== Button =========== */

.btn-primary:hover,
.btn-tertiary:hover {
    background-color: #04477C;
}

/* ================ Buttons ==================== */

.btn-primary {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    color: white;
    font-size: 1.1em;
    letter-spacing: 1px;
    padding: 14px 24px;
    background-color: #0060AD;
    border-radius: 0.375em;
    border: none;
    text-align: center;
}

.btn-primary:hover {
    background-color: #04477C;
}

.btn-secondary {
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    padding: 10px 12px;
    background: none;
    color: #0060AD;
    border: 1px solid #0060AD;
    border-radius: 6px;
    font-weight: 500;
    text-align: center;
}

.btn-tertiary {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 14px 25px;
    background-color: #0060AD;
    border-radius: 0.375em;
    border: none;
    text-align: center;
}

.btn-secondary-light {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 14px 24px;
    font-size: 1em;
    background: none;
    color: #CFD4DA;
    border: 1px solid #CFD4DA;
    border-radius: 6px;
    font-weight: 500;
    text-align: center;
}

.btn-secondary-light:hover {
    color: #AEB2B8;
    border: 1px solid #AEB2B8;
}

/* ================== Template Grid =================== */

.center {
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1.875rem;
    margin: 0 100px;
}

.col-3 {
    grid-column: 2/5;
}

.col-3b {
    grid-column: 9/12;
}

.col-4 {
    grid-column: 8/12;
}

.col-5 {
    grid-column: 2/7;
}

.col-5b {
    grid-column: 7/12;
}

.col-5c {
    grid-column: 5/11;
}

.col-5d{
    grid-column: 6;
}

.col-6 {
    grid-column: 2/8;
}

.col-7 {
    grid-column: 2/9;
}

.col-10 {
    grid-column: 2/12;
}

.col-12 {
    grid-column: 1/12;
}

.mini-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1rem;
}

.mini-col-5a {
    grid-column: 1/7;
}

.mini-col-5b {
    grid-column: 7/13;
}

/* margin-top */

.margin-top-small {
    margin-top: 24px;
}

.margin-top-7 {
    margin-top: 7px;
}

.margin-top-28 {
    margin-top: 28px;
}

.margin-top-48 {
    margin-top : 48px;
}

.margin-top-58 {
    margin-top : 58px;
}

.margin-top-72 {
    margin-top: 72px;
}   

.margin-top-88 {
    margin-top : 88px;
}

/* --- margin-bottom --- */

.margin-bottom-120 {
    margin-bottom: 120px;
}

.margin-bottom-95 {
    margin-bottom: 95px;
}

.margin-bottom-72 {
    margin-bottom: 72px;
}

.margin-bottom-64 {
    margin-bottom: 64px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.margin-bottom-48 {
    margin-bottom: 48px;
}

.margin-bottom-32 {
    margin-bottom: 32px;
}

.margin-bottom-28 {
    margin-bottom: 28px;
}

.margin-bottom-24 {
    margin-bottom: 24px;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-bottom-1em {
    margin-bottom: 1em;
}

/* ================ Header & Navigation ==================== */

.main-header {
    width: 100%;
    background-color: #FFF;
    box-shadow: 0px -3px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
    position: fixed;
    top: 0;
    z-index: 3;
}

.main-header-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
}

.nav-links ul li {
    display: inline-block;
    padding-right: 28px;
}

.nav-links a:hover {
    color: #04477C;
    font-weight: 600;
    border: none;
}

.current {
    color: #04477C;
    font-weight: 600;
}

.nav-links-vertical-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.nav-links-vertical-main ul {
    list-style-type: none;
    display: inline-block; 
}

.nav-links-vertical-main ul li {
    display: flex;
    align-items: center;
}

.nav-links-vertical-main ul li:last-child {
    margin-top: 0.5em;
}

.nav-links-vertical-main ul li:hover, ul li a:hover {
    color: #0060AD;
}

.nav-links-vertical-main ul li i {
    font-size: 1.125em;
    margin-right: 0.5em;
}

.nav-links-vertical-main a:hover {
    color: #04477C;
    font-weight: 600;
    border: none;
}

#btn-settings {
    display: flex;
    background-color: #fff;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

#btn-settings:hover {
    color: #04477C;
    font-weight: 600;
}

#btn-settings i {
    font-size: 17px;
    padding-right: 0.5em;
}

.container-logo-nav {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.container-logo-nav img {
    width: 100%;
}

.nav-separator {
    width: 1px;
    height: 10px;
    background-color: #000;
    margin-left: 18px;
    margin-right: 18px;
}

.image-profil-user {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right p {
    font-weight: 600;
}

.popover__wrapper {
    position: relative;
    display: flex;
}

.popover__content {
    opacity: 0;
    position: absolute;
    left: -59px;
    top: 30px;
    transform: translate(0, 10px);
    background-color: #ffffff;
    padding: 1rem;
    padding-top: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    width: auto;
}

.popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, 20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__message {
    text-align: center;
}

.nav-separator-horizontal {
    width: 100%;
    height: 1px;
    background-color: rgb(207, 212, 218);
    margin-top: 10px;
}

/* Search bar feed & search bar header */

.search{
    display: flex;
    align-items: center;
    position: relative;
}

.container-searchBar form {
    display: flex;
}

.search-feed{
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 16px;
    width: 50%;
}

.search input, .search-feed input {
    width: 150px;
    padding: 10px 12px;
    border: 1px solid #CFD4DA;
    border-radius: 4px;
    transition: all .5s;
}

.search i,.search-feed i {
    font-size: 17px;
    position: absolute;
    right: 5%;
    top: 25%;
    color: #CFD4DA;

}

.search input:focus {
    width: 200px;
}

#search-bar {
    font-family: "Montserrat", sans-serif;
    width: 525px;
    height: 42px;
}

.search-feed select {
    font-family: "Montserrat", sans-serif;
    width: 200px;
    height: 42px;
    background-color: #fff;
    color: #CFD4DA;
    border: 1px solid #CFD4DA;
    border-radius: 4px;
    padding: 12px;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
}

.search-feed select > * {
    color: #000;
}

.selectIcon::after {
    content: url("..//img/chevron-down-search.svg");
    width: 18px;
    top: 15px;
    right: 14px;
    position: absolute;
}

#search-btn {
    font-size: 1em;
    height: 42px;  
}

/* ================== Footer =================== */

.main-footer {
    background-color: #FFF;
    display: flex;
    justify-content: center;
}

.main-footer-content {
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-top-content {
    display: flex;
    margin-bottom: 48px;
}

.footer-top-content div:first-child {
    margin-right: 125px
}

.footer-top-content h3 {
    text-transform: uppercase;
}

.footer-top-content p {
    margin-top: 8px;
}

.footer-top-content div:last-child {
    margin-top: 24px;
}

.footer-top-content i {
    font-size: 1.75em;
    color: #0060AD;
    margin-right: 24px;
}

.footer-top-content nav {
    display: flex;
}

.footer-top-content ul {
    list-style-type: none;
}

.footer-top-content ul:first-child {
    margin-right: 128px;
}

.footer-top-content li:first-child {
    color: #0060AD;
}

.footer-top-content nav ul li {
    margin-bottom: 24px;
}

.footer-top-content a {
    font-weight: normal;
}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
}

.footer-bottom-content p {
    margin-top: 16px;
}

.container-logo-footer {
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}


.container-logo-footer img {
    width: 100%;
}


/* ================== Map & Input ==================== */

.container-hero {
    margin-top: 19.25em;
}

.icon-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    color: #0060AD;
    box-shadow: 0px -3px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
    width: 9%;
    padding: 10px;
    border-radius: 4px;
}

.icon-header i {
    font-size: 24px;
}

.icon-header p {
    font-size: 16px;
}

#icon-expand-map {
    width: 48px;
    position: absolute;
    top: 413px;
    right: 205px;
}

.hero {
    width: 100%;
    height: 554px;
    background-image: url('..//img/map.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}


.pin-map {
    width: 48px;
    height: 48px;
    position: absolute;
    background-color: #04477C;
    border-radius: 50%;
    box-shadow: 0px -3px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
}

.pin-map img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #04477C;
    box-shadow: 0px -3px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
}

#profil-1 {
    top: 257px;
    left: 1248.5px;
}

#profil-2 {
    top: 168px;
    right: 568px;
}

#profil-3 {
    right: 600px;
    top: 168px;
}

#profil-4 {
    left: 1090.5px;
    top: 198px;
}

#pin-icon-1{
    left: 1222.5px;
    top: 257px;
}

#pin-icon-2{
    left: 1019.5px;
    top: 103px;
}

#pin-icon-3{
    left: 105.5px;
    top: 283px;
}

.parcours {
    background-image: url('..//img/map-fiche-parcours@2.jpg');
}

.welcome {
    font-weight: 500;
}

.search-bar {
    width: 100%;
    height: 42px;
    padding: 15px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px -3px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
}

.width-unset {
    width: unset;
}

.container-content-request {
    display: flex;
}

.container-content-request img {
    margin-right: 16px;
}

.aide {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*=================== Page Profil/Feed =====================*/

.container-searchBar {
    padding: 1.75em 1.5em;
    margin-top: 3em;
    background-color: #FFF;
    border-radius: 0.5em;
    box-shadow: 0px -3px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
}


/* Main  */

.container-main {
    margin-top: 3.75em;
}

/* Encart Parcours & Créer Un Nouveau Parcours */

.container-newspot {
    margin-top: 10.25em;
}

.container-spot {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-center {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn-create {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 298px;
    cursor: pointer;
    color: #fff;
    border-radius: 8px;
    background-image: url('..//img/background-btn2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px -3px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
}

.btn-create:hover {
    outline: solid 2px #0060AD;
}

.oval-box-level {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border-radius: 22px;
    padding: 8px 12px;
}

.oval-box-level-big {
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 25px;
    padding: 12px 30px;

}

.oval-box-container i {
    font-size: 18px;
}

.level-easy {
    text-transform: capitalize;
    background-color: #339933;
}

.level-middle {
    text-transform: capitalize;
    background-color: #00008B;
}

.level-difficult {
    text-transform: capitalize;
    background-color: #000;
}

.quick-features-spot {
    display: flex;
}

.quick-features-spot div {
    display: flex;
    align-items: center;
}

.quick-features-spot div>i {
    font-size: 16px;
    margin-right: 6px;
}

.title-resume-spot {
    width: 130px;
}

.resume-spot-content-ellipsis {
    width: calc(92%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-resume-spot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 298px;
    height: 298px;
    padding: 24px;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0px -3px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
    margin-bottom: 32px;
}

.icon {
    cursor: pointer;
    font-size: 28px;
    color: #fff;
    position: absolute;
    z-index: 2;
    right: 10px;
    top: -160px;
}

.container-image-small img {
    border-radius: 0.25em;
    width: 100%;
    height: 160px;
}

.popover-resume-spot {
    top: -142px;
    left: 152px;
}

#nav-links-vertical {
    flex-direction: column;
    padding: initial;
}

#nav-links-vertical form {
    margin-top: 10px;
    padding-left: 6px;
    padding-right: 8px;
}

#nav-links-vertical form:first-child {
    margin-bottom: 2px;
}

/* Posts & Alerts */

.container-post {
    height: auto;
    background-color: #FFF;
    border-radius: 0.5em;
    box-shadow: 0px -3px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
    padding: 24px;
}

.title-article {
    display: flex;
    align-items: center;
}

.image-profil-friend {
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px -3px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
}

.alert-friend {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alert-friend-name {
    display: flex;
}

.friend-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 24px;
}

.padding-left-reset {
    padding-left : 0 !important;
}

.alert-news, .search-results {
    display: flex;
    align-items: center;
}

.alert-news div, .search-results div {
    padding-left: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.alert-news div p:last-child {
    padding-right: 28px;
}

.alert-news i {
    font-size: 24px;
    color: #AEB2B8;
}

.title-article-header {
    padding-left: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.title-article div p:first-child {
    font-weight: 600;
}

.title-article div span {
    font-weight: initial;
    font-size: 1em;
}

.title-article i {
    font-size: 24px;
    margin-left: 10px;
    color: #AEB2B8;
}

.tag-name {
    font-weight: 600;
}

.container-image-medium img {
    border-radius: 0.25em;
    width: 100%;
}

/* container post à 3 images */
.container-image-medium-divided {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.container-image-left {
    width: 75%;
    margin-right: 1em;
    border-radius: 0.25em;
    background-color: #0060AD;
}

.container-image-left img {
    width: 100%;
    height: 100%;
    border-radius: 0.25em;
}

.container-image-right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container-image-right img {
    width: 100%;
    height: 100%;
    border-radius: 0.25em;
}

.container-image-right img:first-child {
    margin-bottom: 1em;
}

/* social */
.container-social {
    display: flex;
    justify-content: space-between;
}

.container-social div {
    display: flex;
    align-items: center;
}

.container-social div p {
    font-weight: 600;
}

.container-social div i {
    padding-right: 8px;
}

.article-separator {
    width: 100%;
    height: 1.5px;
    background-color: #CFD4DA;
    opacity: 0.3;
    margin-bottom: 16px;
}

.container-comment {
    display: flex;
    align-items: center;
}

.input-comment {
    width: 100%;
    margin-left: 16px;
    padding: 11px 14px;
    border-radius: 0.25em;
    border: 1px solid #CFD4DA;
    color: #CFD4DA;
}

.input-icons {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.icons {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.icons i {
    color: #CFD4DA;
    padding: 8px;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-title-start {
    display: flex;
    align-items: center;
}

.section-title-start h3 {
    margin-right: 16px;
}

.one-link {
    font-size: 0.875em;
    color: #AEB2B8;
    display: flex;
}

.one-link i {
    color: #CFD4DA;
    font-size: 16px;
    display: flex;
    align-items: flex-end;
    margin-left: 8px;
}

.contact-friend-offline {
    color: #AEB2B8;
}

.full-width {
    width: 100%;
    justify-content: space-between;
}

.container-image-small img {
    border-radius: 0.25em;
    width: 100%;
}

.request-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.request-btn a {
    padding: 12px 24px;
}

.request-btn a:first-child {
    margin-right: 1em;
}


/* ================ Page Explore ============== */

.allParcours {
    display: flex;
    align-items: center;
    font-size: 1.1em;
}

.allParcours a:hover {
    font-weight: 600;
    color: #0060AD;
    text-decoration-line: none;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    cursor: pointer;
}

.link-click-on {
    font-weight: 600;
    color: #0060AD;
    padding-bottom: 5px;
    border-bottom: 2px solid #0060AD;
}

.link-click-off {
    padding-bottom: 8px;
}

.pagination {
    margin-left: 40%;
    list-style-type:none;
}

.pagination li {
    float: left;
    margin-right: 8px;
}

.pagination button {
    font-family: 'Montserrat', 'sans-serif';
    width: 100%;
    padding: 16px;
    border: none;
    background-color: #F4F6F8;
    cursor: pointer;
    transition: 0.3s ease; 

}

.pagination button:hover{
    font-weight: bold;
    color: #0060AD;
    transform: translateX(5px);   
}


/* =============== Page Signup ================ */
.bg {
    background-image: url("..//img/background-onboarding@2x.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}


.box-transparent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    height: auto;
}

.box-transparent h1 {
    color: white;
    margin-bottom: 16px;
}

.box-transparent>p {
    width: 100%;
    color: white;
    margin-bottom: 24px;
}

.oval-box-container {
    display: flex;
    margin-right: 1em;
    margin-bottom: 3.25em;
    width: auto;
}

.oval-box-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(57, 79, 90, 0.16);
    border-radius: 35px;
    padding: 0.625em 1.125em;
    margin-right: 12px;
}

.oval-box-container span {
    font-weight: 700;
    font-size: unset;
    color: unset;
}

/* -- section 2 --*/
.box-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 40px;
    background: #FFF;
    box-shadow: 0px -3px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
    border-radius: 8px;
}

.box-form h3 {
    margin-bottom: 8px;
}

.box-form p a {
    font-weight: 600;
    color: #0060AD;
}

.box-form hr {
    width: 85px;
    height: 4px;
    background: #000;
    border-radius: 6px;
    margin-bottom: 28px;
}

.form {
    width: 100%;
    margin-top: 28px;
}

.input-control,
.input-control-2 {
    width: 100%;
    margin-bottom: 16px;
}

.input-control label {
    font-size: 14px;
    font-weight: 400;
}

.input-field {
    width: 100%;
    position: relative;
}

.input-field input {
    font-family: 'Montserrat', 'sans-serif';
    width: 100%;
    padding: 11px 14px;
    border: 1px solid #CFD4DA;
    border-radius: 4px
}

.input-field select {
    font-family: 'Montserrat', 'sans-serif';
    width: 100%;
    padding: 10px 9px;
    border: 1px solid #CFD4DA;
    border-radius: 4px
}

::placeholder {
    color: #CFD4DA;
}

.input-field i {
    position: absolute;
    right: 0px;
    color: #CFD4DA;
    padding: 10px;
    min-width: 50px;
    text-align: center;
    font-size: 16px;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check label {
    font-weight: 400;
    margin-left: 8px;
}

.form button {
    margin-top: 28px;
}

.error {
    display: none;
    font-weight: 400;
    padding: 2px;
    font-size: 12px;
    color: red;
}

/* ============== Page Login  =============== */

.row a {
    float: right;
    font-size: 12px;
    font-weight: 400;
    color: #C4C4C4;
}

.container-logo {
    width: 50%;
    margin-bottom: 1em
}

/* ================ page newSpot ================= */

label[for="localisation"]+div {
    margin-top: 0.5rem;
}

#newtag {
    padding: 12px 24px;
}

.input-newspot {
    margin-top: 0.5rem;
}

.img-map-form {
    width: 100%;
    height: 80%;
}

textarea {
    width: 100%;
    height: 170px;
    padding: 11px 14px;
    border: 1px solid #CFD4DA;
    border-radius: 4px;
    resize: none;
    font-family: 'Montserrat', sans-serif;
}

.btn-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
}

.btn-container .btn-secondary {
    color: #CFD4DA;
    border: 1px solid #CFD4DA;
}

.btn-container .btn-secondary:hover {
    color: #AEB2B8;
    border: 1px solid #AEB2B8;
}
.cb-button {
    border-radius: 35px;
    overflow: hidden;
}

.cb-button label {
    font-weight: 500;
    line-height: 2em;
    cursor: pointer;
}

.cb-button label span {
    text-align: center;
    padding: 3px;
    display: block;
    padding: 0.25em 1em;
}

.cb-button label input {
    display: none;
}

.cb-button label input + span {
    color:#AEB2B8;
    background-color: rgba(174,178,184, 0.2);
}

.cb-button input:checked + span {
    color: #0060AD;
    background-color: rgba(0, 96, 173, 0.2);
}


.col-3>.btn-tertiary {
    width: 100%;
}

.btn-container .btn-secondary,
.btn-container .btn-tertiary {

    width: 240px;
}

/* =========== Page spot description =========== */

.container-meteo-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-meteo-features > i {
  font-size: 2.7em;
  color: #0060AD;
  margin-bottom: 16px;
}

.container-meteo-features span {
    font-weight: 600;
}

.container-meteo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.separator-meteo {
    width: 1px;
    height: 3em;
    background-color: #0060AD;
}

.article-separator-meteo {
    width: 100%;
    height: 1.5px;
    background-color: #0060AD;
    opacity: 0.3;
    margin: 24px 0;
}

.container-meteo-features-small {
    display: flex;
    margin-right: 28px;
}

.container-meteo-features-small i {
    font-size: 2.6em;
    color: #0060AD;
    margin-right: 16px;
}

.container-meteo-small {
    display: flex;
}

.container-icon-header-parcours {
    display: flex;
    width: 44px;
    position: absolute;
    top: 410px;
    right: 500px;
}

.icon-header-parcours {
    display: flex;
    background-color: #FFFFFF;
    color: #0060AD;
    box-shadow: 0px -3px 2px rgb(40 41 61 / 4%), 0px 4px 8px rgb(96 97 112 / 16%);
    padding: 10px 13px;
    border-radius: 4px;
    margin: 10px;
}

.icon-header-parcours i {
    font-size: 24px;
}

.container-tag{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.container-tag span{
    margin-bottom: 16px;
    margin-right: 16px;
}

.oval-box-tags {
    border-radius: 22px;
    padding: 8px 12px;
    margin-right: 5px;
}

.tags-color {
    color: #0060AD;
    background-color: rgb(0, 96, 173, 0.2);
}

.list-normal {
    list-style-type: circle;
    padding-left: 1.5em;
}

.list-normal li {
    font-weight: 100;
}

.container-image-parcours{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container-image-parcours img{
    width: 100%;
    height: auto;
    border: 1px solid #CFD4DA;
    border-radius: 6px;
}

.container-image-parcours i {
    font-size: 1.5em;
}

.container-activity {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.container-activity img {
    width: 100%;
    height: auto;
}

.container-activity i {
    font-size: 1.5em;
}

.container-info-activity {
    background-color: #fff;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0px -3px 2px rgb(40 41 61 / 4%), 0px 4px 8px rgb(96 97 112 / 16%);
}

.info-activity img {
    width: 48px;
    height: 48px;
    margin-right: 8px;
}

.info-activity {
    display: flex;
    padding: 12px 4px ;
    align-items: center;
    justify-content: center;
}

.margin-right-16{
    margin-right: 16px;
}

.info-activity-features {
    display: flex;
    align-items: center;
}

.info-activity-features > i {
    font-size: 18px;
    padding: 0px 10px;
}

.margin-right-20 {
    margin-right: 20px;
}

.icon-star {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.icon-star i {
    font-size: 1.3em;
    color: #0060AD;
    text-align: left;
}

.container-photo-profil{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.container-photo-profil img{
    width: 6%;
    margin: 20px;
}

/* ================ page Recherche ================= */

.container-search {
    margin-top: 10.25em;
}

#searchBarPage {
    width: 88%;
}

#SearchResultFilter {
    justify-content: initial;
}

.col-10.allParcours > * {
    margin-right: 28px;
}

.col-10.allParcours a:last-child {
    margin-right: unset;
}

#search-results-cursor {
    cursor: pointer;
}

.search-result-form {
    width: 25%;
}

.search-result-form button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1em;
    border: none;
    background-color: #ffff;
}

.search-result-form button:hover {
    color: #04477C;
}

.tag-name-result {
    cursor: pointer;
}

#btns-search-results {  
    display: flex;
    justify-content: flex-end;
}

#btns-search-results button {
    margin-right: 16px;
}

#btn-search-follow {  
    width: 15%;
}

.no-user-found{
    font-size: 16px;
}

.flex-start {
    justify-content: flex-start!important;
}

/* ================ page Profil & page Profil - My Friends ================= */


.hero-profil {
    width: 100%;
    height: 450px;
    background-image: url('..//img/banner-profil@2x.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}

.container-hero-profil {
    display: flex;
    color: #fff;
}

.container-hero-profil img {
    margin-right: 1em;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.container-hero-profil-content div:nth-child(2){
    display: flex;
    margin-top: 8px;
    margin-bottom: 16px;
   
}

.container-hero-profil-content div:nth-child(2) >* {
   font-weight: 600;
   margin-right: 16px;
   font-size: 16px;
}

.container-hero-profil-content button {
    width: auto;
}

.container-features {
    display: flex;
    justify-content: space-around;
    padding: 0.875em 1.125em;
    background-color: #FFF;
    border-radius: 0.5em;
    box-shadow: 0px -3px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
}

.profil-features {
    display: flex;
    align-items: center;
}

.profil-features p {
    margin-left: 16px;
}

.profil-features p span {
    font-weight: 600;
}

.profil-features i {
    font-size: 2.063em;
    color: #0060AD;
}

.profil-features i:first-child {
    font-size: 2.5em;
}

.profil-features i:last-child {
    font-size: 2.313em;
}

.features-separator {
    width: 1px;
    height: 5em;
    background-color: #F2F2F2;
}

.btn-friend {
    font-size: 14px;
    padding: 8px;
}

.tag-friend-form {
    font-size: 14px!important;
    width: 100%!important;
}

.col-10.allParcours {
    justify-content: center;
}

.col-10.allParcours >* {
    margin-right: 28px;
}

.col-10.allParcours a:last-child {
    margin-right: unset;
}

.btn-create.btn-horizontal {
    width: 100%;
    height: 138px;
   background-image: url('..//img/background-btn-rectangle.jpg');
}

.img-post-parcours {
    width: 142px;
    border-radius: 4px;
}

.hero-person {
    width: 100%;
    height: 450px;
    background-image: url('..//img/banner-friend@2x.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}

.fs-24 {
    font-size: 24px!important;
}

#icon-dots-friends {
    font-size: 24px;
    color: #AEB2B8;
}

.popover-friend {
    z-index: 1;
    top: 13px;
    left: -62px;
}

.adroite {
    margin-right: 16px;
}

.container-ami {
    padding: 24px;
    width: 48%;
    height:96px;
    background-color: #FFF;
    border-radius: 8px;
    margin-bottom: 32px;
    box-shadow: 0px 4px 8px 0px #60617029,0px -3px 2px 0px #28293D0A;
}

.container-ami > .alert-news > button {
    width: unset!important;
}

.align-items-start {
    align-items: flex-start!important;
}